$lightYellow: #fdfbee;
$cream:#eeece0;
$darkCream:#ededed;
$green: #089a85;
$lightDarkgreen:#0d8f84;
$lightPurple:#4c0077;
$purple: #480477;
$lightPurple:#50218b;
$lightOrange:#ff8c00;
$orange:#fe8c00;
$brown:#4f4f4f;
$darkBrown:#333;
$lightGrey:#c1bcbc;
$grey:#979797;
$darkGrey:#666;
$lightSky:#c9dcff;
$brownishBlack:#000000;