// font Size

$font_size_6: 6px;
$font_size_7: 7px;
$font_size_8: 8px;
$font_size_10: 10px;
$font_size_12: 12px;
$font_size_14: 14px;
$font_size_15: 15px;
$font_size_16: 16px;
$font_size_18: 18px;
$font_size_19: 19px;
$font_size_20: 20px;
$font_size_22: 22px;
$font_size_26: 26px;


// font family

$lato:"Lato", sans-serif;


// font weight

$font_weight_normal:normal;
$font_weight_bolder:bolder;
$font_weight_bold:bold;
$font_weight_400:400;
$font_weight_500:500;
$font_weight_600:600;


//font-strech

$stretch_normal:normal;
$stretch_condensed:condensed;
$stretch_expanded:expanded;


//font-style

$italic_font_style:italic;
$normal_font_style:normal;


// positions

$fixed:fixed;
$absolute:absolute;
$relative:relative;
$static:static;
$sticky:sticky;


// cursor

$pointer:pointer;
$alias:alias;
$all-scroll:all-scroll;
$auto:auto;
$default:default;
$grab:grab;
$notAllowed:not-allowed;