@mixin flexBox($display, $alignItems, $justifyContent) {
   display: $display;
   align-items: $alignItems;
   justify-content: $justifyContent;
  }

  @mixin flexCenter($display, $alignItems) {
    display: $display;
    align-items: $alignItems;
  }

  @mixin fontStyling($fontSize, $fontWeight, $lineHeight) {
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: $lineHeight;
  }