@use "utilities/_colors" as *;
@use "utilities/_fonts" as *;
@use "utilities/_mixins" as *;
@use "utilities/_sizes.scss" as *;

body {
  font-family: $lato;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.container {
  @include flexCenter(flex, center);
  position: $relative;
  background: $lightYellow;
}
input {
  border: $noneDesktop;
  background-color: transparent;
}

input:focus,
input:active {
  box-shadow: $noneDesktop !important;
  -moz-box-shadow: $noneDesktop !important;
  -webkit-box-shadow: $noneDesktop !important;
  outline: $noneDesktop !important;
}

select {
  border: $noneDesktop;
  background-color: transparent;
}

select:focus,
select:active {
  box-shadow: $noneDesktop !important;
  -moz-box-shadow: $noneDesktop !important;
  -webkit-box-shadow: $noneDesktop !important;
  outline: $noneDesktop !important;
}

.headerContainer {
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
  height: 104px;
  position: $fixed;
  top: 0;
  padding: 13px 13px 14px 15px;
  background-image: linear-gradient(to left, $green, $purple);
  @media screen and (max-width: $mobileMax) {
    height: auto;
    background-image: linear-gradient(to right, $purple 83%, $green);
    padding: 12px 15px;
  }
  .topBar {
    @include flexBox(flex, center, space-between);
    .leftBar {
      @include flexBox(flex, center, flex-start);

      .logoDetails {
        @include flexCenter(flex, center);
        margin-right: 60px;
        @media screen and (max-width: $mobileMax) {
          margin-right: 0;
        }

        .newLogo {
          width: 176px;
          height: 32px;
        }
      }

      .searchTab {
        position: $relative;
        width: 300px;
        padding: 8px 8px 7px 9px;
        border-radius: 4px;
        background-color: $primary;
        @include flexCenter(flex, center);

        @media screen and (max-width: $mobileMax) {
          display: $noneMobile;
        }

        .search {
          width: 16px;
          height: 16px;
        }

        .input {
          margin-left: 8px;
        }

        .cross {
          position: $absolute;
          right: 10px;
          width: 16px;
          height: 16px;
        }
      }
    }

    .rightBar {
      @include flexBox(flex, center, flex-end);

      .managerButton {
        padding: 9px 14px 8px 15px;
        border-radius: 4px;
        background-color: $lightOrange;
        @include fontStyling($font_size_12, $font_weight_bold, normal);
        color: $primary;
        margin-right: 15px;

        @media screen and (max-width: $mobileMax) {
          display: $noneMobile;
        }
      }

      .select {
        width: 246px;
        padding: 9px 13px 8px 10px;
        border-radius: 4px;
        background-color: $lightPurple;
        @include fontStyling($font_size_12, $font_weight_normal, normal);
        color: $primary;
        border-right: 8px solid transparent;
        margin-right: 24px;

        @media screen and (max-width: $mobileMax) {
          display: $noneMobile;
        }
      }

      .profileDiv {
        @include flexCenter(flex, center);
        @media screen and (max-width: $mobileMax) {
          display: $noneMobile;
        }

        .profile {
          width: 24px;
          height: 24px;
          margin-right: 6px;
        }
        .profileName {
          @include fontStyling($font_size_15, $font_weight_normal, normal);
          color: $primary;
          margin-right: 6px;
        }

        .arrowDown {
          transform: rotate(-270deg);
          color: $primary;
          font-weight: $font_weight_bolder;
          font-size: $font_size_7;
        }
      }
      .bellContainer_mv {
        display: $noneDesktop;
        @media screen and (max-width: $mobileMax) {
          display: $blockMobile;
          position: $relative;
          margin-right: 18px;

          .bell {
            width: 21px;
            height: 27px;
          }
          .count {
            position: $absolute;
            padding: 6px;
            border: solid 1px $lightDarkgreen;
            border-radius: 50px;
            background-color: $lightOrange;
            @include fontStyling($font_size_6, $font_weight_bold, normal);
            top: 0;
            right: -3px;
          }
        }
      }
      .navbarContainer {
        display: $noneDesktop;
        @media screen and (max-width: $mobileMax) {
          display: $blockMobile;
          border-radius: 4px;
          background-color: $lightOrange;
          padding: 4px 5px;
          .navbar {
            cursor: $pointer;
            width: 18px;
            height: 15px;
          }
        }
      }
    }
  }

  .downBar {
    @include flexBox(flex, center, space-between);
    padding: 20px 0;
    @media screen and (max-width: $mobileMax) {
      padding: 0;
    }

    .text2020 {
      margin-left: 60px;
      @include fontStyling($font_size_16, $font_weight_bold, normal);
      color: $primary;
      @media screen and (max-width: $mobileMax) {
        display: $noneMobile;
      }
    }
    .icons {
      @include flexCenter(flex, center);
      @media screen and (max-width: $mobileMax) {
        display: $noneMobile;
      }

      .bellContainer {
        position: $relative;
        margin-right: 20px;
        .bell {
          cursor: $pointer;
          width: 20px;
          height: 24px;
        }

        .count {
          position: $absolute;
          padding: 1px 3px;
          border: solid 1px $lightDarkgreen;
          border-radius: 50px;
          background-color: $lightOrange;
          @include fontStyling($font_size_6, $font_weight_bold, normal);
          color: $primary;
          top: 0;
          right: 0;
        }
      }

      .videoContainer {
        margin-right: 20px;

        .video {
          cursor: $pointer;
          width: 29px;
          height: 21px;
        }
      }

      .chat {
        cursor: $pointer;
        width: 25px;
        height: 25px;
      }
    }

    .select_mv {
      display: $noneDesktop;
      @media screen and (max-width: $mobileMax) {
        display: $blockMobile;
        width: 100%;
        padding: 9px 13px 8px 10px;
        border-radius: 4px;
        background-color: $primary;
        @include fontStyling($font_size_12, $font_weight_600, normal);
        color: $darkBrown;
        border-right: 8px solid transparent;
        margin-top: 20px;
      }
    }
  }
}

.navLeft {
  @media screen and (max-width: $mobileMax) {
    display: $noneMobile;
  }
}

.navContainer {
  position: $fixed;
  width: 70px;
  left: 0;
  height: 100%;
  background: $purple;
  z-index: 1;
  @media screen and (max-width: $mobileMax) {
    background: $lightYellow;
    width: 100%;
  }
  .navText {
    @include fontStyling($font_size_8, $font_weight_normal, normal);
    margin-top: 3px;
    text-align: center;
    color: $primary;
    @media screen and (max-width: $mobileMax) {
      @include fontStyling($font_size_14, $font_weight_bold, normal);
      color: $darkBrown;
    }
  }
  .paddingNav {
    padding: 0 24px;
  }
}

.landingContainer {
  height: 100%;
  width: 100%;

  .bodyContainer {
    padding: 104px 0 0 70px;
    background: $lightYellow;
    position: $relative;
    @media screen and (max-width: $mobileMax) {
      padding: 110px 15px 0 15px;
    }

    .header {
      padding: 24px 18px 16px;
      @include flexBox(flex, center, space-between);
      border-bottom: 0.5px solid $brown;
      @media screen and (max-width: $mobileMax) {
        border: $noneMobile;
        display: $blockMobile;
        padding: 0;
        margin-top: 21px;
      }

      .leftItem {
        @include flexCenter(flex, center);

        @media screen and (max-width: $mobileMax) {
          justify-content: space-between;
        }

        .beyond {
          width: 157px;
          height: 28px;
          object-fit: contain;
          margin-right: 44px;
          @media screen and (max-width: $mobileMax) {
            margin-right: 0;
            width: 141px;
          }
        }
      }

      .rightItem {
        @include flexBox(flex, center, flex-start);
        margin-right: 190px;
        @media screen and (max-width: $mobileMax) {
          display: $noneMobile;
        }
      }

      .select {
        width: 138px;
        padding: 8px 13px 8px 10px;
        border-radius: 4px;
        background-color: $primary;
        border-right: 8px solid transparent;
        @include fontStyling($font_size_18, $font_weight_bold, normal);
        color: $darkBrown;
      }
    }

    .slider {
      @include flexBox(flex, center, center);

      .article {
        position: $relative;
        background: $primary;
        max-width: 900px;
        margin-top: 30px;
        margin-bottom: 150px;
        z-index: 1;
        @media screen and (max-width: $mobileMax) {
          max-width: unset;
          margin-top: 20px;
          margin-bottom: 60px;
        }

        .eyeContainer {
          top: 0;
          right: -55px;
          position: $absolute;
          padding: 13px 12px 13.2px;
          border-bottom-right-radius: 12px;
          border-top-right-radius: 12px;
          background-color: $lightOrange;
          @media screen and (max-width: $mobileMax) {
            right: 15px;
            top: 20px;
            padding: 9px 9px 6px;
            border-radius: 4px;
          }

          .eye {
            width: 30px;
            height: 21.8px;
            @media screen and (max-width: $mobileMax) {
              width: 22px;
              height: 16px;
            }
          }
          .count {
            position: $absolute;
            top: -10px;
            right: -10px;
            padding: 2px 6px;
            border: solid 2px $lightOrange;
            background-color: $primary;
            border-radius: 50px;
            @media screen and (max-width: $mobileMax) {
              padding: 1px 4px;
              top: -7px;
              right: -6px;
              font-size: $font_size_12;
            }
          }
        }

        .editContainer {
          position: $absolute;
          top: 70px;
          right: -55px;
          padding: 14px 18px 13.1px 15px;
          border-bottom-right-radius: 12px;
          border-top-right-radius: 12px;
          background-color: $lightPurple;
          @media screen and (max-width: $mobileMax) {
            position: $fixed;
            bottom: 0;
            top: unset;
            right: 5px;
            padding: 12px 12px 2px;
            border-top-left-radius: 12px;
            border-bottom-right-radius: 0;
          }
          .edit {
            width: 21px;
            height: 20.9px;
          }
        }

        .leftArrowContainer {
          position: $absolute;
          left: -25px;
          top: 50%;
          margin: auto;
          border-radius: 50%;
          background: $primary;
          padding: 20px;
          z-index: -1;
          @include flexBox(flex, center, center);
          @media screen and (max-width: $mobileMax) {
            display: $noneMobile;
          }
        }

        .rightArrowContainer {
          @include flexBox(flex, center, center);
          position: $absolute;
          right: -25px;
          top: 50%;
          margin: auto;
          border-radius: 50px;
          background: $primary;
          padding: 20px;
          z-index: -1;
          @media screen and (max-width: $mobileMax) {
            display: $noneMobile;
          }
        }

        .textHeader {
          @include fontStyling($font_size_26, $font_weight_bold, normal);
          color: $darkBrown;
          @media screen and (max-width: $mobileMax) {
            @include fontStyling($font_size_18, $font_weight_bold, 1.33);
            margin-right: 40px;
          }
        }

        .text {
          @include fontStyling($font_size_16, $font_weight_bold, normal);
          color: $darkBrown;
          @media screen and (max-width: $mobileMax) {
            @include fontStyling($font_size_14, $font_weight_normal, normal);
          }
        }

        .header {
          padding: 24px;
          border-bottom: 0.5px solid $brown;
          @media screen and (max-width: $mobileMax) {
            position: $relative;
            padding: 15px;
            margin-top: 0;
          }
        }

        .body {
          padding: 24px;
          @media screen and (max-width: $mobileMax) {
            padding: 12px;
          }
        }

        .articleImg {
          margin-top: 18px;
          max-width: 824px;
          margin-bottom: 38px;
          @media screen and (max-width: $mobileMax) {
            max-width: unset;
            width: 100%;
            margin-bottom: 18px;
          }
        }
      }
    }

    .roundTable {
      position: $absolute;
      width: 113px;
      height: 113px;
      right: 0;
      top: 103px;
      cursor: $pointer;
      @media screen and (max-width: $mobileMax) {
        display: $noneMobile;
      }
    }

    .bottomDesign {
      max-width: 635px;
      height: 105px;
      position: $fixed;
      bottom: 0;
      left: 70px;
      object-fit: contain;
      @media screen and (max-width: $mobileMax) {
        display: $noneMobile;
      }
    }

    .beyondBig {
      right: 0;
      margin: auto;
      left: 30%;
      position: $fixed;
      max-width: 240px;
      height: 60px;
      bottom: 30px;
      @media screen and (max-width: $mobileMax) {
        display: $noneMobile;
      }
    }

    .roundTable_mv {
      display: $noneDesktop;
      @media screen and (max-width: $mobileMax) {
        @include flexBox($flexMobile, center, space-between);
        position: $fixed;
        bottom: 0;
        top: unset;
        right: 55px;
        padding: 9px 12px 4px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        cursor: $pointer;
        background-color: $lightOrange;
        z-index: 1;

        .icon {
          width: 13px;
          height: 17px;
          margin-right: 5px;
          margin-top: 5px;
        }
        .text {
          color: $primary;
          @include fontStyling($font_size_22, $font_weight_bold, normal);
        }
      }
    }

    .slide_mv {
      display: $noneDesktop;
      @media screen and (max-width: $mobileMax) {
        @include flexBox($flexMobile, center, space-between);
        z-index: 1;
        position: $fixed;
        bottom: 6px;
        left: 5px;

        .arrow {
          width: 12px;
          height: 12px;
        }
        .slide {
          padding: 10px;
          background: $primary;
          @include fontStyling($font_size_14, $font_weight_bold, normal);
        }
      }
    }
  }
}

.tableContainer {
  position: $relative;

  .roundTableIcon {
    position: $fixed;
    top: 0;
    left: -54px;
    padding: 12px 10px 6px 11px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: $cream;

    .icon {
      width: 33px;
      height: 38px;
    }
  }
  .feedContainer {
    padding: 16px;
    @media screen and (max-width: $mobileMax) {
      padding: 0 12px 16px;
    }
    .searchFilter {
      position: $relative;
      @include flexBox(flex, center, space-between);

      .filterTool {
        position: $absolute;
        width: 161px;
        border-radius: 4px;
        box-shadow: 0 2px 4px 0 $boxShadowColor;
        border: solid 1px $lightGrey;
        background-color: $primary;
        top: 45px;
        right: 0;

        .header {
          padding: 9px 10px 5px;
          border-bottom: 0.5px solid $brown;

          .text {
            @include fontStyling($font_size_12, $font_weight_bold, normal);
            color: $darkBrown;
          }
        }

        .content {
          padding: 10px 10px 8px;

          .buttons {
            @include flexBox(flex, center, space-between);

            .clear {
              cursor: $pointer;
              border-radius: 4px;
              border: solid 1px $darkGrey;
              padding: 5px 18px;
              @include fontStyling($font_size_10, $font_weight_600, normal);
              color: $darkBrown;
            }

            .apply {
              cursor: $pointer;
              margin-left: 6px;
              border-radius: 4px;
              background-color: $orange;
              padding: 6px 7px;
              @include fontStyling($font_size_10, $font_weight_600, normal);
              color: $primary;
              text-align: center;
            }
          }

          .radio {
            .radioContainer {
              @include fontStyling($font_size_12, $font_weight_500, normal);
              color: $darkBrown;
              display: $blockDesktop;
              position: $relative;
              padding-left: 25px;
              margin-bottom: 10px;
              cursor: $pointer;
            }

            .radioContainer input {
              position: $absolute;
              opacity: 0;
              cursor: $pointer;
            }

            .checkmark {
              position: $absolute;
              top: 0;
              left: 0;
              width: 15px;
              height: 15px;
              background-color: $primary;
              border: 0.5px solid;
            }

            .checkmark:after {
              content: "";
              position: $absolute;
              display: $noneDesktop;
            }

            .radioContainer input:checked ~ .checkmark:after {
              display: $blockDesktop;
            }

            .radioContainer .checkmark:after {
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              margin: auto;
              width: 12px;
              height: 12px;
              border-radius: 2px;
              background-color: $lightOrange;
            }
          }
        }
      }

      .searchContainer {
        width: 455px;
        max-width: 455px;
        border-radius: 4px;
        border: solid 1px $grey;
        @include flexBox(flex, center, flex-start);
        padding: 9px 9px 10px;

        .search {
          width: 17.5px;
          height: 17.5px;
        }

        .input {
          @include fontStyling($font_size_14, $font_weight_normal, normal);
          margin-left: 12px;
          color: $grey;
        }
      }

      .filter {
        cursor: $pointer;
        margin-left: 9px;
        width: 25px;
        height: 23px;
      }

      @media screen and (max-width: $mobileMax) {
        display: $noneMobile;
      }
    }
  }
}

.cardContainer {
  border-radius: 4px;
  margin-top: 20px;
  border: solid 1px $lightGrey;
  background-color: $primary;
  @media screen and (max-width: $mobileMax) {
    position: $relative;
    box-shadow: 0 2px 4px 0 $boxShadowColor;
    border: none;
  }
  .header {
    @include flexBox(flex, center, space-between);
    border-radius: 4px;
    background-color: $darkCream;
    @media screen and (max-width: $mobileMax) {
      background: $primary;
      border-radius: 0;
    }

    .leftElement {
      @include flexBox(flex, center, flex-start);

      .profile {
        width: 32px;
        height: 32px;
        border-radius: 50px;
      }

      .name {
        margin-left: 6px;
        .text {
          @include fontStyling($font_size_14, $font_weight_bold, normal);
          color: $darkBrown;
        }

        .title {
          margin-top: 2px;
          @include fontStyling($font_size_10, $font_weight_normal, normal);
          color: $darkGrey;
        }
      }
    }

    .rightElement {
      @include flexBox(flex, center, flex-end);

      .unitComment {
        width: 120px;
        max-width: 120px;
        border-radius: 11px;
        border: solid 1px $lightPurple;
        background-color: $lightPurple;
        padding: 5px 16px 4px 17px;
        @include fontStyling($font_size_12, $font_weight_normal, normal);
        color: $primary;
        @media screen and (max-width: $mobileMax) {
          position: $absolute;
          right: 0;
          bottom: 6px;
          border: none;
          background-color: unset;
          color: $darkGrey;
          @include fontStyling($font_size_12, $font_weight_bold, 1.75);
          padding: 0;
        
          &:before {
            content: "● ";
          }
        }
      }

      .arrowContainer {
        @include flexBox(flex, center, center);
        margin-left: 10px;
        border: solid 1px $lightSky;
        background-color: $arrowBgr;
        padding: 6px 7px 6px 8px;
        @media screen and (max-width: $mobileMax) {
          border-radius: 50%;
        }

        .arrowRight {
          width: 5.5px;
          height: 9px;
        }
      }
    }
  }

  .content {
    background-color: $primary;
    padding: 14px 12px 13px;
    @media screen and (max-width: $mobileMax) {
      padding: 9px 14px 6px;
    }

    .feedDesc {
      @include flexBox(flex, flex-start, space-between);
      @media screen and (max-width: $mobileMax) {
        @include flexBox(flex, center, space-between);
      }

      .feedImg {
        width: 178px;
        max-width: 178px;
        margin-right: 12px;
        @media screen and (max-width: $mobileMax) {
          min-width: 123px;
        }
      }

      .text {
        @include fontStyling($font_size_12, $font_weight_normal, 1.75);
        color: $darkGrey;
      }
    }

    .footer {
      @include flexBox(flex, center, flex-start);

      .comment {
        margin-top: 5px;
        @include flexBox(flex, center, flex-start);
        .icon {
          width: 11px;
          height: 11px;
        }

        .text {
          margin-left: 5px;
          @include fontStyling($font_size_12, $font_weight_bold, 1.75);
          color: $darkGrey;
        }
      }

      .time {
        margin-top: 5px;
        @include flexBox(flex, center, center);
        text-align: center;
        margin-left: 7px;
        @include fontStyling($font_size_12, $font_weight_bold, 1.75);
        color: $darkGrey;
      }
    }
  }
}

.flex-c-col {
  flex-direction: column;
  @include flexBox(flex, center, center);
}

.m-top-29 {
  margin-top: 29px;
}

.m-left-10 {
  margin-left: 10px;
}

.cursor-p {
  cursor: $pointer;
}

.m-left-37 {
  margin-left: 37px;
}

.m-left-5 {
  margin-left: 5px;
}

.m-right-5 {
  margin-right: 5px;
}

.none-m {
  @media screen and (max-width: $mobileMax) {
    display: $noneMobile;
  }
}