@use "../utilities/_colors" as *;
@use "../utilities/_fonts" as *;
@use "../utilities/_mixins" as *;


.container-wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 520px;
  transform: translateX(100%);
  transition: 0.3s ease-out;
  z-index: 3;
  background: $lightYellow;
}

.sidePanel-parent-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
}
.sidePanel-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;

  .header {
    border-bottom: 0.5px solid $brown;
    padding: 19px 16px 15px;
    @include flexBox(flex,center,space-between);

    .text {
      @include fontStyling($lato,$font_size_18,$font_weight_bold,$stretch_normal,$normal_font_style,normal,normal);
      color: $darkBrown;
    }

    .close {
      cursor: pointer;
      width: 20px;
      height: 20px;
      object-fit: contain;
    }
  }
}

.open-container-wrap {
  transform: translateX(0%);
}
