@use "../utilities/_colors" as *;
@use "../utilities/_fonts" as *;
@use "../utilities/_mixins" as *;
@use "../utilities/_sizes" as *;


%base-class {
  position: $fixed;
  top: 0;
  bottom: 0;
  right: 0;
  transition: 0.3s ease-out;
  z-index: 3;
  background: $lightYellow;
}


.right {
  @extend %base-class;
  width: 520px;
  transform: translateX(100%);
}

.bottom {
  @extend %base-class;
  width: 100%;
  transform: translateY(100%);
}


.open-right {
  transform: translateX(0%);
}

.open-bottom {
  transform: translateY(0%);
}




.sidePanel-parent-container {
  position: $absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  background: $backdropColor;
}
.sidePanel-container {
  position: $absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;

  .header {
    border-bottom: 0.5px solid $brown;
    padding: 19px 16px 15px;
    @include flexBox(flex,center,space-between);
    @media screen and (max-width: $mobileMax) {
      padding: 12px 14px 11px;
      border-bottom: 0.5px solid $border;
    }

    .icon {
      display:$noneDesktop;
      @media screen and (max-width: $mobileMax) {
        display:$blockMobile;
        position: $absolute;
        top: 10px;
        left: 9px;
        width: 27px;
        height: 31px;
      }
    }

    .m-left-30-mv {
      @media screen and (max-width: $mobileMax) {
        margin-left: 30px;
      }
    }

    .text {
      @include fontStyling($font_size_18,$font_weight_bold,normal);
      color: $darkBrown;
    }

    .close {
      cursor: $pointer;
      width: 20px;
      height: 20px;
      object-fit: contain;
    }
  }
}
