@use "../utilities/_colors" as *;
@use "../utilities/_fonts" as *;
@use "../utilities/_mixins" as *;

.tabContainer {
    @include flexBox(flex,center,flex-start);
    padding: 15px 16px 11px;
    border-bottom: 0.5px solid $brown;

    .tab {
        @include flexBox(flex,center,center);
        flex-direction: column;
        cursor: pointer;
    }

    .text {
        opacity: 0.5;
        @include fontStyling($lato,$font_size_16,$font_weight_bold,$stretch_normal,$normal_font_style,normal,normal);
        color: $darkBrown;
    }

    .selectedTab {
        opacity: 1;
        color: $lightOrange;
    }

    .hideLine {
        visibility: hidden;
        margin-top: 4px;
        width: 34px;
        height: 2px;
    }

    .activeLine {
        margin-top: 4px;
        width: 34px;
        height: 2px;
        background-color: $lightOrange;
    }
}
